body {
  margin: 0px;
}

#game_grid {
  box-sizing: content-box;
  border: 2px tomato solid;
  width: 600px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.card {
  width: 200px;
  height: 200px;
  position: relative;
  transition: transform 1s;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform-origin: center right;
  
}

img {
  width: 100%
}


.front_face,
.back_face {
  position: absolute;
  backface-visibility: hidden;
}

.front_face {
  transform: rotateY(180deg); /* Rotate the front face to back by default */
}

.back_face {
  transform: rotateY(0); /* Show the back face by default */
}

.card.flip {
  transform: translateX(-100%) rotateY(-180deg);
  transition: transform 2s;
}


.card.matched .front_face,
.card.matched .back_face {
  transform: rotateY(0); /* Rotate to front when card is matched */
}

.card.matched .back_face {
  display: none; /* Hide the back face when card is matched */
}



header {
  text-align: center;
  font-weight: bold;
  margin: 20px;
}


body.dark-mode {
  background-color: #333;
  color: white;
}

body.dark-mode .card {
  background-color: #555;
}

body.dark-mode #game_grid {
  border-color: white;
}

body.dark-mode #themes .btn-dark {
  background-color: white;
  color: #333;
}