body {
  margin: 0px;
}

#game_grid {
  box-sizing: content-box;
  border: 2px tomato solid;
  width: 600px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.card {
  width: 200px;
  height: 200px;
  position: relative;
  transition: transform 1s;
  perspective: 1000px;
  transform-style: preserve-3d;
}

img {
  width: 100%
}

.front_face,
.back_face {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg); /* Rotate the front face to back by default */
}

.card.flip .front_face,
.card.flip .back_face,
.card.matched .front_face,
.card.matched .back_face {
  transform: rotateY(0); /* Rotate to front when card is flipped or matched */
}

header {
  text-align: center;
  font-weight: bold;
  margin: 20px;
}


